# Default ignored files
/../../../../ADMINI~1/SHOPIF~2/ELIZAB~1/.idea/shelf/
/../../../../ADMINI~1/SHOPIF~2/ELIZAB~1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../ADMINI~1/SHOPIF~2/ELIZAB~1/.idea/httpRequests/
